# Entorno virtual
tfm/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/